*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    /* height: 100vh;
    width: 100vw; */
}
body{
    position: relative;
    scroll-behavior: smooth;
    background-color: rgb(243, 251, 255);
}
body::-webkit-scrollbar{
    opacity: 0.1;
    width: 5px;
}
body::-webkit-scrollbar-thumb{
    background-color: #48e8fd;
}
.nav-bar{
    display: flex;
    align-items:center;
    width: 100%;
    justify-content: space-between;
    text-align: center;
    box-sizing: border-box;
    padding: 1.5% 5%;
    background-image: linear-gradient(-45deg, #ade5f7,#54cef7,  #4270ee);
    position: fixed;
    top: 0;
    z-index: 10;
}
.nav-bar i{
    font-size: 2vw;
    font-weight: bold;
    cursor: pointer;
}
.logo a{
    text-decoration: none;
    color: #000000;
    font-size: 1.8vw;
    font-weight: bold;
}
.nav-link{
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    padding: 1vw 1.5vw;
    border-radius: 0.6vw;
    margin: 0 1vw;
    font-weight: bold;
    font-size: 1vw;
    background-image: linear-gradient(-45deg, #53d7ff,  #4486fb);
    cursor: pointer;
}
.nav-link:hover{
    background-image: linear-gradient(45deg, #1ebbeb,  #035af1);
    color: #fff;
}
#menuBtn{
    display: none;
}
.side-bar{
    position: fixed;
    top: 0;
    right: 0;
    display: none;
    flex-direction: column;
    gap: 6%;
    background-color: rgb(255, 255, 255);
    opacity: 0.7;
    border-radius: 2vw;
    width: 50%;
    height: 50vh;
    text-align: right;
    z-index: 11;
    transition: all ease 2s;
}
.side-nav, #closeBtn{
    font-size: 6vw;
    text-decoration: none;
    color: black;
    font-weight: bold;
    border-radius: 2vw;
    padding: 4% 5%;
    margin: 1% 1%;
}
.side-bar{
    padding: 5%;
}
.side-bar a:hover{
    background-color: #7fb7f7;
}
main{
    width: 100%;
    height: 100%;
}
#home-page{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-image: url("images/bg.png");
    background-repeat: no-repeat;
    background-position: 110%;
    box-sizing: border-box;
}
.bg-illustrator{
    width: 60%;
    height: auto;
    box-sizing: border-box;
}
.bg-illustrator img{
    width: 80%;
    margin-top: 15%;
}
.text{
    width: 40%;
    box-sizing: border-box;
    font-size: 2vw;
    position: relative;
}
.text h2{
    text-align: center;
    margin-top: 25%;
    font-size: 2.5vw;
    color: #e1465a;
}
.text h1{
    margin: 5% 0;
}
.text p{
    font-size: 1.2vw;
    color: #190000;
}
#getStarted{
    margin-top: 5%;
    padding: 3% 6%;
    border-radius: 0.5vw;
    border: none;
    color: #000000;
    font-size: 1.2vw;
    font-weight: bold;
    background-image: linear-gradient(-45deg, #53d7ff,  #4486fb);
    cursor: pointer;
}
#getStarted:hover{
    background-image: linear-gradient(45deg, #53d7ff,  #4486fb);
    color: #fff;
}
#signUp{
    box-sizing: border-box;
    margin: 6% 1%;
    padding: 5% 3%;
    background-image: url("images/nav.png");
    background-size: 100%;
    background-position:  100% 51%;
    background-repeat: no-repeat;
}
#signUp h1{
    margin: 15% 0 8% 5%;
    padding: 0 0 3% 0;
}
#signUp label{
    display: inline-block;
    width: 20%;
    font-size: 1.2vw;
    font-weight: bold;
    color: #035af1;
}
#signUp input{
    width: 60%;
    padding: 1.5% 1%;
    margin: 1% 0;
    font-size: 1vw;
    opacity: 0.3;
    border: none;
    background-color: #a0bff5;
    border-radius: 0.6vw;
}
#signUp input::placeholder{
    color: #010d11;
    font-size: 1vw;
    text-align: center;
}
#signUpBtn{
    margin: 4% 0 0 61%;
    padding: 2.5% 6%;
    border-radius: 0.6vw;
    border: none;
    color: #000000;
    font-size: 1.1vw;
    font-weight: bold;
    background-image: linear-gradient(-45deg, #53d7ff,  #4486fb);
    cursor: pointer;
}
#signUpBtn:hover{
    background-image: linear-gradient(45deg, #53d7ff,  #4486fb);
    color: #fff;
}
#signUp{
    display:none;
}
.login{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    
}
#login-box{
    position: relative;
    margin-top: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: auto;
    display: none;
}
.bg-video{
    width: 100%;
    height: auto;
}
.bg-login-video{
    position: absolute;
    top: 0%;
    right: 0%;
    z-index: -1;
    width: 100%;
    object-fit: fill;
    object-position: center;
    border-radius: 1.1vw;
}
#login-form{
    width: 100%;
    padding-top: 12%;
    padding-left: 30%;
    display: block;
}
#login-form label{
    font-size: 1.5vw;
    color: #000000;
    font-weight: bold;
}
#login-form input{
    width: 50%;
    padding: 2% 2%;
    margin: 1% 0;
    border: none;
    background-color: #5592fc;
    border-radius: 0.6vw;
    font-size: 1.1vw;
    opacity: 0.7;
}
#login-form input::placeholder{
    font-size: 1.1vw;
    color: rgb(255, 255, 255);
    text-align: center;
}
#login-form input:focus{
    background-color: #000000;
    color: white;
    opacity: 0.3;
}
#loginBtn{
    margin: 5% 0 0 16%;
    padding: 2% 5%;
    font-size: 1.1vw;
    font-weight: bold;
    border: none;
    border-radius: 0.6vw;
    background-image: linear-gradient(-45deg, #53d7ff,  #4486fb);
}
#loginBtn:hover{
    background-image: linear-gradient(45deg, #53d7ff,  #4486fb);
    color: #fff;
}



#departments{
    position: relative;
    width: 100%;
    margin-top: 8%;
    display: none;
    
}
#departments h1{
    display: block;
    width: 50%;
    text-align: center;
    margin: 3% 26%;
    font-size: 2.5vw;
    font-weight: bold;
}

/* 
facultu div */

.dept-faculty-parent {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dept-faculty-child{
    box-shadow: 0 0 10px lightgray;
    width: 80%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 10px;
    padding: 1%;
}
.faculty-box{
    background-color: #1ebbeb;
    color: #fff;
    width: 45%;
    margin: 1%;
    text-align: center;
    padding: 1%;
    font-size: 1.2vw;
}
.faculty-box:hover{
    background-color: #ffffff;
    box-shadow: 0 0 5px gray;
    color: #000;
    transform: scale(1.05);
    border-radius: 5px;
    cursor: pointer;
    transition: all ease 0.5s;
}
.faculty-box h3{
    padding-top: 1%;
}



.depart-parent{
    display: none;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    
}
.depart-box{
    width: 80%;
    margin-top: 3%;
    box-shadow: 0px 0px 15px gray;
    border-radius: 10px;
    display: none;
}
.depart-box h3{
    font-size: 1.8vw;
    text-align: center;
    padding: 2% 0;
    color: #034ef1;
}
.depart-names{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 2%;
    padding: 1%;
}
.depart-child{
    border: 1px solid #e0e0e0;
    width: 45%;
    display: flex;
    margin: 1%;
    padding: 1%;
    
}
.depart-child:hover{
    border: none;
    box-shadow: 0px 0px 15px gray;
    border-radius: 5px;
    cursor: pointer;
    transition: all ease 0.5s;
    color: #13151a;
    background-color: #e2f7fd;
}
.depart-child img{
    border: 2px solid rgb(233, 233, 233);
    width: 30%;
    height: 7vw;
    object-fit: fill;
    margin: 1%;
}
.depart-child img:hover{
    transform: scale(0.95);
    transition: all ease 0.5s;
}
.depart-child h5{
    font-size: 1vw;
    display: block;
    width: 60%;
    padding: 8% 1%;
    margin: 1.5% 2%;;
}

#departments h2{
    font-size: 2vw;
    text-align: center;
    background-image: linear-gradient(90deg ,hsl(224, 88%, 50%),#50c2f7);
    color: transparent;
    -webkit-background-clip:text;
    padding-bottom: 5%;
}

.bg-department-video{
    width: 40%;
    margin: 5% 30%;
    border-radius: 0.5vw;
    border-top: 5px solid #034ef1;
}
.bg-department-video:hover{
    scale: 1.02;
}



.dept-dialog-parent {
    width: 100%;
    height: 95vh;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -2%;
    z-index: 1;
    overflow: hidden;
}
.dept-dialog-parent::after{
    content: '';
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: -1;
}

.dept-dialog-child {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 50%;
    height: 70%;
    padding: 2%;
    position: relative;
    box-shadow: 0 0 10px rgb(201, 201, 201);
    border-radius: 10px;
    background-color: #fff;
}


.dept-years {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 5px; 
    padding: 10px; 
    border: 1px solid green; 
    width: 70%; 
    border-radius: 5px;
    background-image: linear-gradient(45deg,#4256B5, #9445CB);
    cursor: pointer;
}
.dept-years:hover{
    background-image: linear-gradient(45deg,#3f74c4, #bc3ee2);
    transform: scale(0.98);
    border: none;
    outline: none;
}
.dept-years h3{
    font-size: 2vw;
}
.dept-dialog-child  i{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.5vw;
    color: #9445CB;
    padding: 10px;
    cursor: pointer;
}
.dept-dialog-child  i:hover{
    color: red;
    transform: scale(1.1);
}

.semester-box{
    background-image: linear-gradient(45deg, #C8248F,#282C72);
    position: absolute;
    top: 25%;
    width: 50%;
    height: 50%;
    display: none;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 10px;
    opacity: 0.92;
}
.semester{
    width: 70%;
    font-size: 1.5vw;
    text-align: center;
    padding: 4%;
    border-radius: 5px;
    color: #fff;
    background-image: linear-gradient(90deg, #4DB5FD,#3E64F9);
    cursor: pointer;
}
.semester:hover{
    background-image: linear-gradient(-90deg, #4DB5FD,#3E64F9);
    transform: scale(0.95);
    transition: all ease 0.2s;
}

.semester-container{
    display:;
}
.semester-container h1{
    font-size: 3vw;
    text-align: center;
    margin-top: 7%;
}
.semester-container h2{
    font-size: 1.5vw;
    text-align: center;
    margin-top: 2%;
    color: #1ebbeb;
    animation: course 2s  0s infinite linear;
}
@keyframes course {
    0%{
        transform: scale(1);
    }
    25%{
        transform: scale(1.1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}
.table-container{
    width: 100%;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#table-container{
    width: 80%;
    height: auto;
    border-spacing: 0;
    border: 5px solid white;
    border-radius: 5px;
}
#table-container th{
    font-size: 2vw;
    font-weight: bold;
}
#table-container th, td{
    font-size: 1.2vw;
    text-align: center;
    padding: 2%;
    background-color:rgb(234, 251, 255);
    border: 0.3vw solid #ffffff;
    transition: all 0.3s ease;
}
#table-container td:hover{
    background-color:#6edbfc;
}








footer{
    margin-top: 18%;
    padding: 1% 0;
    font-size: 1vw;
    width: 100%;
    text-align: center;
    position: relative;
    font-weight: bold;
    color: #14082c;

}
footer img{
    object-fit: fill;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0.4;
}